altair==5.4.1
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker==1.8.2
Bottleneck
Brotli
cachetools==5.3.0
certifi
cffi
charset-normalizer
click==8.1.7
cmdstanpy==1.2.4
colorama
contourpy
convertdate
cycler
Cython==3.0.0
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
gitdb==4.0.11
GitPython==3.1.43
h11
holidays==0.25
httpcore
httpx
idna
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab==3.6.5
kiwisolver
Markdown==3.4.3
MarkupSafe
matplotlib==3.9.0
matplotlib-inline
mistune
numexpr
numpy==1.25.2
packaging
pandas==2.1.0
parso
patsy
pillow
plotly==5.12.0
ply
prometheus-client
prophet==1.1.1
protobuf==3.20.3
psutil
pyarrow==9.0.0
pycparser
pydeck==0.8.0
Pygments
pystan==2.19.1.1
python-dateutil
pytz
pywin32
PyYAML
pyzmq
referencing
requests==2.28.1
rfc3339-validator
scikit-learn==1.2.2
scipy
seaborn==0.12.2
Send2Trash
six
smmap==5.0.0
sniffio
soupsieve
stack-data
stanio==0.5.1
statsmodels==0.14.0
streamlit==1.22.0
tenacity
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wcwidth
webencodings
websocket-client
xgboost==1.7.5
